[user]
	name = Joel Gerber
	email = {{ .email }}
	signingkey = {{ .gpg.keyid }}

[core]
	editor = code --wait
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore

[credential]
{{- if contains "WSL" .chezmoi.kernel.osrelease }}
	helper = /mnt/c/Users/{{ .chezmoi.username }}/AppData/Local/Programs/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
{{- else if eq .chezmoi.os "darwin" }}
    manager = osxkeychain
{{- end }}

{{- if eq .chezmoi.os "windows" }}
[http]
	sslbackend = schannel
{{- end }}

[init]
	defaultbranch = main

[commit]
	gpgsign = true
