tap "homebrew/bundle"
tap "homebrew/core"

# Miscellaneous
brew "chezmoi"
brew "fish"
brew "sqlite"
brew "tree"
brew "helm"
{{- if eq .chezmoi.os "darwin" }}
brew "telnet"
brew "macvim"
{{- else }}
brew "vim"
{{- end }}
{{- if eq .location "home" }}
brew "imapsync"
cask "inkscape"
cask "xquartz"
{{- end }}
# Version Control
brew "git"
{{- if eq .location "work" }}
brew "git-lfs"
brew "awscli"
{{- end }}
brew "glab"
brew "hub"
brew "pre-commit"
# JSON Manipulation
brew "jq"
brew "jo"
# Programming Language Runtimes
brew "nvm"
brew "pyenv"
brew "golang"
brew "openjdk"
brew "openjdk@8"
brew "maven"
# Credential/Identity Management
brew "gnupg"
brew "keychain"
{{- if and (eq .location "home") (eq .chezmoi.os "darwin") }}
# Gaming
cask "openemu"
{{- end }}
