#- Fonts ----------------------------------------------------------------------
{{- if eq .chezmoi.os "linux" }}
font_family Victor Mono
{{- else }}
font_family FiraCode Nerd Font Mono
{{- end }}
font_size 13.0
font_features none
disable_ligatures never

#- Colour ---------------------------------------------------------------------
{{- if eq .chezmoi.os "linux" }}
background_opacity 0.90
include ~/.cache/wal/colors-kitty.conf
{{- else }}
background_opacity 1
# BEGIN_KITTY_THEME
include current-theme.conf
# END_KITTY_THEME
{{- end }}

#- Mouse ----------------------------------------------------------------------
mouse_hide_wait -1.0
focus_follows_mouse true

#- Window ---------------------------------------------------------------------
window_padding_width 8 12
tab_bar_style powerline
tab_powerline_style slanted

#- Sound ----------------------------------------------------------------------
enable_audio_bell no
visual_bell_duration 0.2
