[global]
{{- if eq .location "work" }}
index-url = https://{{
 (onepasswordDetailsFields "6sjkpsmwwltvonxtvqg3y65vwe").username.value
}}:{{
 (onepasswordItemFields "6sjkpsmwwltvonxtvqg3y65vwe").key.v
}}@{{
 (onepasswordItemFields "6sjkpsmwwltvonxtvqg3y65vwe").host.v
}}/artifactory/api/pypi/{{
 (onepasswordItemFields "6sjkpsmwwltvonxtvqg3y65vwe").pypi.v
}}/simple
{{- end }}
