[global]
{{- if eq .location "work" }}
index-url = https://{{
 (onepasswordDetailsFields "6sjkpsmwwltvonxtvqg3y65vwe").username.value
}}:{{
 (onepasswordItemFields "6sjkpsmwwltvonxtvqg3y65vwe").key.value
}}@{{
 (onepasswordItemFields "6sjkpsmwwltvonxtvqg3y65vwe").host.value
}}/artifactory/api/pypi/{{
 (onepasswordItemFields "6sjkpsmwwltvonxtvqg3y65vwe").pypi.value
}}/simple
{{- end }}
